body {
  height: 100vh;
  width: 100vw;
}
h4 {
  align-self: center;
}
input {
  margin: 0 0 1em 0;
}
.btn {
  width: auto;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.form {
  background-color: whitesmoke;
  width: auto;
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  border-radius: 2em;
}
#button {
  width: auto;
  margin-left: 15%;
}
